<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.flink.runtime.jobgraph.JobGraph" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
